<!DOCTYPE html>
      <html>
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Language" content="en-us" />
        <meta name="google-signin-client_id" content="682669909656-oq0efd66585ha1r0e3vvtk6e4oj1mn1r.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <title>Think Free</title>
        <link rel="stylesheet" href="css/blog.css" />
        <link rel="stylesheet" href="css/user.css" />
        <link rel="stylesheet" href="css/comments.css" />
      </head>
      
      <body>
        <div id="header">th<span class="logo">i</span>nk <span class="logo">free</span></div>
        <div id="user"></div>
        <div id="viewblog">
          <div id="title"><%- title %></div>
          <div id="description"><%- description %></div>
          <div id="body"><%- body %></div>
        </div>
        <div id="comment-container">
          <div id="login-status"><p>Sign in to comment</p></div>
          <div id="comments"><%- comments %></div>
          <div id="comment-box">
            <form >
              <textarea></textarea>
              <input type="button" value="comment" onclick="submit-comment">
            </form>
          </div>
        </div>
        <div id="bloglist-container">
          <div id="bloglist">the blog list</div>
        </div>
        <script src="javascript/bundle.js"></script>
        <script src="javascript/blog.js"></script>
        <script src="javascript/user.js"></script>
      </body>
      </html>