<!DOCTYPE html>
      <html>
      <head>
        <meta charset="utf-8">
        <title>Think Free</title>
        <link rel="stylesheet" href="css/blog.css" />
        <link rel="stylesheet" href="css/user.css" />
        <link rel="stylesheet" href="css/comments.css" />
      </head>
      
      <body>
        <div id="header">th<span class="logo">i</span>nk <span class="logo">free</span></div>
        <div id="viewblog">
          <div id="title"><%- title %></div>
          <div id="description"><%- description %></div>
          <div id="body"><%- body %></div>
        </div>
        <div id="comment-container">
          <div id="login-status"><p>Sign in to comment</p></div>
          <div id="comments"><%- comments %></div>
          <div id="comment-box">
            <form >
              <textarea></textarea>
              <input type="button" value="comment" onclick="submit-comment">
            </form>
          </div>
        </div>
        <div id="bloglist-container">
          <div id="bloglist"></div>
        </div>
      </body>
      </html>