.formTitle {
  color: #2665c4;
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
}

.rfa_textinput {
  border-top: 0px;
  border-right: 0px;
  border-left: 0.5px solid #2665c4;
  border-bottom: 0.5px solid #2665c4;
  border-radius: 5px;
  padding: 5px;
}

.form-container {
  background-color: white;
  width: 250px;
  height: auto;
  margin: auto;
}

.input-container {
  display: inline-block;
  margin: 14px;
}

.rfa_label {
  color: #2665c4;
  border-color: #2665c4;
  position: absolute;
  margin-top: -9px;
  margin-left: 10px;
  font-size: 12px;
}

.rfa_submit {
  float: left;
  margin: 0px;
  padding: 5px;
  cursor: pointer;
  color: #2665c4;
  background-color: white;
  border-radius: 5px;
  border-color: #2665c4;
  border-style: solid;
  border-width: 3px;
}

.buttondiv {
  clear: both;
  margin: 10px;
}

.rfa_input-error {
  font-size: 10px;
  color: red;
  width: 200px;
  word-wrap: break-word;
}

.text {
  color: #2665c4;
}
