.formTitle {
    color: #2665C4;
    font-size: 18px;
    text-align: left;
    padding-left: 30px;
}

.textinput {
    border-top: 0px;
    border-right: 0px;
    border-left: .5px solid #2665C4;
    border-bottom: .5px solid #2665C4;
    border-radius: 5px;
    padding: 5px;
}

.form-container {
    background-color: white;
    width: 300px;
    margin: auto;
}

.input-container {
    display: inline-block;
    margin: 14px;
}

.label {
    border-color: #2665C4;
    position: absolute;
    margin-top: -9px;
    margin-left: 10px;
    font-size: 12px;
}

.submit-button {
    float:left;
    margin: 30px;
    padding: 2px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border-color: #2665C4;
    border-style: solid;
    border-width: 3px;
}

.buttondiv {
    clear: both;
    margin-top: 30px;
}

.input-error {
    position: absolute;
    color: red;
    margin-top: 45px;
    width: 200px;
    word-wrap: break-word;
}