.lightbox-background {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: rgba(0,0,0,0.2); /*dim the background*/
}

.lightbox {
    z-index: 10;
    margin: auto;
    margin-top: 25px;
    padding: 25px;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
    border-color: #2665C4;
    border-style: solid;
    border-width: 3px;
}

.request-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border-color: #2665C4;
    border-style: solid;
    border-width: 3px;
}

.close-button {
    float:right;
    padding: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    border-color: #2665C4;
    border-style: solid;
    border-width: 3px;
}