.formTitle {
  color: #2665c4;
  font-size: 18px;
  text-align: left;
  padding-left: 30px;
}

.form-container {
  background-color: white;
  width: 250px;
  height: auto;
  margin: auto;
}

.buttondiv {
  clear: both;
  margin: 10px;
}

.text {
  color: #2665c4;
}

#user-menu-button {
  clear: left;
  margin-left: 20px;
  cursor: pointer;
  background-color: #2665c4;
}

.user-menu-bar {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px 0;
}

.user-menu-area {
  display: inline-block;
  line-height: 0px;
  margin-left: 10px;
}

/* places the user menu at the left side of the screen if on mobile */
@media screen and (max-width: 700px) {
  #mobile-check {
    left: 0px;
  }
}
